.article
	margin 0 auto
	max-width 40em
	font-size 1.3rem

	section
		margin-bottom 2em

	em
		font-weight 500

	h1
		margin-bottom 1em
		font-weight 300
		font-size 2.5em

	h2
		margin-top 0.5em
		margin-bottom 0.7em
		// margin-bottom 1em
		font-weight 500
		font-size 1.2em

	p
		margin-bottom 1em
		line-height 1.5

		a
			color var(--color-active)

			&:hover, &:focus, &:active
				text-decoration underline