.article
	margin 0 auto
	max-width 45em
	font-size 1.5em
	font-family "YakuHanMPs", "YakuHanJPs", 'EB Garamond', Georgia, yu-mincho-pr6n, YuMincho, "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", serif

	section
		margin-bottom 2em

	em
		// font-weight 500
		font-style italic
		// text-decoration underline
		border 1px solid var(--color-border)
		margin -1px

	h1, h2, h3, h4, h5, h6
		font-family Roboto, sans-serif


	h1
		margin-bottom 1em
		font-weight 500
		font-size 3em
		color white
		text-stroke 1px var(--color-text)
		-webkit-text-stroke 1px var(--color-text)

	h2
		margin-top 0.5em
		margin-bottom 0.7em
		// margin-bottom 1em
		font-weight 500
		font-size 1.2em

	p
		margin-bottom 1em
		line-height 1.5

		a
			color var(--color-active)

			&:hover, &:focus, &:active
				text-decoration underline
	
	.outline
		display inline-block
		margin-bottom .1em
		color transparent		
		text-stroke 1px var(--color-text)
		-webkit-text-stroke 1px var(--color-text)

	.ui
		font-size 1rem
		background var(--color-bg)
		font-family var(--font-normal)