::selection
	background var(--color-border)

.article
	margin 0 auto
	padding 3em 2em 2em
	max-width 45em
	font-size 1.5em
	font-family 'YakuHanMPs', 'YakuHanJPs', 'EB Garamond', Georgia, yu-mincho-pr6n, YuMincho, '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', serif

	section
		margin-bottom 2em

	em
		margin 0 2px
		box-shadow 0 0 0 1px var(--color-border), 0 0 0 2px white, 0 0 0 3px var(--color-border)
		// font-weight 500
		font-style italic

	h1, h2, h3, h4, h5, h6
		font-family Roboto, sans-serif

	h1
		margin-bottom 1em
		color transparent
		font-weight 500
		font-size 3em
		text-stroke 1px var(--color-text)
		-webkit-text-stroke 1px var(--color-text)

	h2
		margin-top 0.5em
		margin-bottom 0.7em
		// margin-bottom 1em
		font-weight 500
		font-size 1.2em

	p
		margin-bottom 1.5em
		line-height 1.6

		a
			color var(--color-active)

			&:hover, &:focus, &:active
				text-decoration underline

	[lang=en]
		display none

		.en &
			display block

	[lang=ja]
		display none
		font-size 0.95em
		line-height 1.8

		.ja &
			display block

	.outline
		display inline-block
		margin-bottom 0.1em
		color transparent
		text-stroke 1px var(--color-text)
		-webkit-text-stroke 1px var(--color-text)

	.ui
		background var(--color-bg)
		font-size 1rem
		font-family var(--font-normal)
		user-select none