flex-version = flex

@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500')

global-reset()

@import './config.styl'
@import './article.styl'

// Variables
:root
	--color-active #63acf9
	--color-border #e0e0e0
	--color-border-text #bbbbbb
	--color-control #bbbbbb
	--color-control-text #999999
	--color-bg #f0f0f0
	--color-field #f9f9f9
	--color-text #444444
	--font-monospace 'Roboto Condensed', monospace, sans-serif
	--font-code 'Fira Code', monospace, sans-serif
	--font-normal 'Roboto', Helvetica, Arial, sans-serif
	// ParamField
	--param-field-1w 6em
	--param-field-gap-widget 0.5em
	--param-field-gap-box 0.3em

*, ::after, ::before
	box-sizing border-box
	outline none
	-webkit-tap-highlight-color transparent

html
	font-size 12px
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body
	color var(--color-text)
	font-family var(--font-normal)

// Reset form elements
input, button, select
	margin 0
	padding 0
	outline none
	border 0
	background transparent
	color inherit
	font-size inherit
	appearance none

	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
		margin 0
		-webkit-appearance none

a
	&:link, &:visited
		color inherit
		text-decoration none

// Parameter
.input-label
	padding-right 1em
	line-height $input-height

.param-field
	&--color-button
		margin-right var(--param-field-gap-box)
		width 'calc(%s / 1.5 - %s)' % (var(--param-field-1w) var(--param-field-gap-box)) !important

	&--1w, &--2w, &--3n, &--4n
		margin-right var(--param-field-gap-widget)

	&--1w
		width var(--param-field-1w)

	&--2w
		width 'calc(%s * 2)' % var(--param-field-1w)

	&--3n
		width 'calc(%s / 1.5 * 3)' % var(--param-field-1w)

	&--4n
		width 'calc(%s / 1.5 * 4)' % var(--param-field-1w)

// SVG
.svg-overlay
	position fixed
	top 0
	left 0
	z-index 100
	width 100vw
	height 100vh

	svg
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	.guide
		stroke var(--color-border)
		stroke-width 1px
		fill none

	.stroke
		stroke var(--color-active)
		stroke-width 3px
		fill none

	.narrow-stroke
		stroke var(--color-active)
		stroke-width 2px
		fill none

	.fill
		fill var(--color-active)
