$popover-arrow-size = 0.7em
$border-radius = 3px
$border-radius-large = 6px
$color-preview-size = 60px

// TODO: Fix
input-border-style()
	height var(--layout-input-height)
	border 1px solid var(--color-border)
	border-radius $border-radius
	background var(--color-field)

input-placement-modifier-root()
	z-index 1

	&:hover
		z-index 2
	
	&:active, &:focus, &.editing, &.selected, &.updating
		z-index 3
	
	&.left
		margin-right -1px

	&.center
		margin-right -1px

	&.top
		margin-bottom -1px

	&.middle
		margin-bottom -1px

input-placement-modifier-border(prefix = '&', suffix = '')
	{prefix}.left{suffix}
		border-top-right-radius 0
		border-bottom-right-radius 0

	{prefix}.center{suffix}
		border-radius 0

	{prefix}.right{suffix}
		border-top-left-radius 0
		border-bottom-left-radius 0

	{prefix}.top{suffix}
		border-bottom-right-radius 0
		border-bottom-left-radius 0

	{prefix}.middle{suffix}
		border-radius 0

	{prefix}.bottom{suffix}
		border-top-left-radius 0
		border-top-right-radius 0

input-border-hover-style()
	border-color var(--color-active)

input-border-focus-style()
	border-color var(--color-active)
	box-shadow 0 0 0 1px @border-color

input-field-style()
	padding 0 0.3em
	color var(--color-text)
	line-height calc(var(--layout-input-height) - 2px)

enable-menu-color()
	--color-bg var(--color-menu-bg)
	--color-text var(--color-menu-text)
	--color-border var(--color-menu-border)
	--color-field var(--color-menu-field)

	color var(--color-text)
	background var(--color-bg)
