$border-radius = 3px
$border-radius-large = 6px
$color-preview-size = 60px

input-border-style()
	height var(--input-height)
	border 1px solid var(--color-border)
	border-radius $border-radius
	background var(--color-field)

	&.left, &.center, &.right, &.top, &.middle, &.bottom
		z-index 1

		&:hover, &:active, &:focus
			z-index 2

	&.left
		margin-right -1px
		border-top-right-radius 0
		border-bottom-right-radius 0

	&.center
		margin-right -1px
		border-radius 0

	&.right
		border-top-left-radius 0
		border-bottom-left-radius 0

	&.top
		margin-bottom -1px
		border-bottom-right-radius 0
		border-bottom-left-radius 0

	&.middle
		margin-bottom -1px
		border-radius 0

	&.bottom
		border-top-left-radius 0
		border-top-right-radius 0

input-border-hover-style()
	border-color var(--color-active)

input-border-focus-style()
	border-color var(--color-active)
	box-shadow 0 0 0 1px @border-color

input-field-style()
	padding 0 0.3em
	color var(--color-text)
	line-height calc(var(--input-height) - 2px)

enable-menu-color()
	--color-bg var(--color-menu-bg)
	--color-text var(--color-menu-text)
	--color-border var(--color-menu-border)